{{#each foods}}
<div class="your-cart-values">
	<p class="your-cart-values-item">{{name}}</p>
	<p class="your-cart-values-price">$ {{price}}</p>
</div>
{{/each}}
<div class="cart-divide"></div>
<div class="your-cart-tally">
	<h4 class="your-cart-tally-label">Subtotal</h4>
	<h4 class="your-cart-tally-subtotal">$ {{subtotal}}</h4>
</div>

<button class="submit-order"><i class="fa fa-check fa-2x"></i></button>