<label class="name-label">Name:</label>
<input type="text" class="name-input" required>
<label class="phone-label">Name:</label>
<input type="text" class="phone-input" required>
<label class="email-label">Name:</label>
<input type="text" class="email-input" required>
<label class="address-label">Name:</label>
<input type="text" class="address-input" required>
<button class="submit-contact">Submit</button>