
	<h3 class="order-id">Order ID: {{objectId}}</h3>
	<ul class="food-list">
	{{#each this.foods}}
		<li class="food-item">
			{{name}}
		</li>
	{{/each}}
	</ul>
	<button class="order-completed"><i class="fa fa-check"></i> Order Complete</button>
