<div class="main-menu-categories-type">
    <i class="fa fa-chevron-down main-menu-categories-type-expand"></i>
    <h3 class="main-menu-categories-type-text">Popular Items</h3>
  </div>
  <ul class="main-menu-categories-items">
  {{#each this}}
    <li class="main-menu-categories-items-item">
      <button class="item-price">$999</button>
      <h4>1. Burger</h4>
      <p>Big slab-o-beef and junk piled high.</p>
    </li>
  {{/each}}
  </ul>
</div>