@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: rgb(52, 152, 219);
$tan: rgb(255, 255, 212);
$red: rgb(237, 95, 36);
$dark-gray: rgb(181, 181, 191);
$medium-gray: rgb(232, 232, 232);
$light-gray: rgb(247, 247, 247);
$very-light-gray: rgb(252, 252, 252);
$green: rgb(107, 173, 66);
$black: rgb(27, 25, 16);
$sky: rgb(176, 99, 61);

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

$mobile: 720px;

* {
	box-sizing: border-box;
	outline: none;
	list-style: none;
}

body {
  background: $base-background-color;
  color: $base-font-color;
  @include outer-container(1280px);
  font-family: 'Source Sans Pro', sans-serif;
}

.masthead {
	background-image: url('../../img/no.jpg');
	background-size: cover;
	background-position: 30% 30%;
	background-repeat: no-repeat;
	box-shadow: 0 2px 3px $sky;
	height: 250px;
	position: relative;
}

.masthead-logo {
	display: block;
	height: 130px;
	width: 220px;
	margin: 40px auto;
	
}

.masthead-text {
	color: rgb(250,250,250);
	position: absolute;
	bottom: 5%;
	font-size: 1.2em;
	left: 25%;
	letter-spacing: .02em;
	text-align: center;
	width: 50%
}

.container {
	@include outer-container(980px);
}

.search-bar {
	background-color: white;
	border-bottom: 1px solid $medium-gray;
	margin-bottom: 3em;
	padding-bottom: 1em;
	padding-top: 1em;
}

.main-menu-search-input {
	border-style: none;
	border-bottom: 1px solid $red;
	font-size: .9em;
	font-weight: 300;
	padding: .6em;
	width: 30%;
}

.fa-search {
	color: $red;
	border-bottom: 1px solid $red;
	font-size: 1.02em;
	padding: .6em;
}

.main-menu-categories {
	@include span-columns(7.5);
}

.main-menu-categories-type {
	background-color: $light-gray;
	border: 1px solid $medium-gray;
	color: $red;
	font-size: 1.2em;
	height: 60px;
	line-height: 60px;
	padding-left: 1em;
	transition: all .2s linear;
	width: 100%;
}

.main-menu-categories-type:hover {
	background-color: $tan;
	border: 1px solid $red;
	color: $black;
	cursor: pointer;
}

.main-menu-categories-type > h3 {
	text-transform: uppercase;
}

.main-menu-categories .fa {
	float: right;
	font-weight: 300;
	line-height: 60px;
	margin-right: 5%;
}

.main-menu-categories .fa-chevron-up {
	display: none;
}

.main-menu-categories-items-item {
	background-color: white;
	border: 1px solid $medium-gray;
	color: $black;
	padding: 1.5em;
	transition: all .2s linear;
}

.main-menu-categories-items-item:hover {
	background-color: $tan;
	border: 1px solid $red;
	color: $black;
	cursor: pointer;
}

.item-price {
	background-color: white;
	border: 1px solid $red;
	border-radius: 3px;
	float: right;
	font-size: .8em;
	padding: .5em;
	width: 50px;
	transition: all .2s linear;
}

.item-price:hover {
	background-color: $red;
	color: white;
	cursor: pointer;
}

.main-menu-categories-items-item h4 {
	font-size: 1.5em;
	margin-bottom: .5em;
	width: 50%;
}

.main-menu-categories-items-item p {
	font-weight: 300;
}

.main-order {
	@include span-columns(4.5);
	@include omega();
}

.your-cart {
	background-color: white;
	border: 1px solid $medium-gray;
	float: right;
	width: 90%;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

.fa-shopping-cart {
	padding: .5em;
	background-color: $light-gray;
	border: 2px solid $red;
	border-radius: 50%;
	color: $red;
	text-align: center;
}

.your-cart-labels {
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 1px solid $medium-gray;
	padding: .5em;
	position: relative;
}

.your-cart-labels h4 {
	color: $black;
	display: inline-block;
}

.your-cart-labels-item {
	position: absolute;
	left: 3%;
}

.your-cart-labels-price {
	float: right;
	margin-right: 3%;
	@include clearfix;
}

.cart-divide {
	border-bottom: 1px solid $medium-gray;
	margin: auto;
	margin-bottom: .6em;
	width: 80%;
}

.your-cart-values p {
	// display: inline-block;
	margin-bottom: 1em;
}

.your-cart-values {
	position: relative;
	@include clearfix;
}

.your-cart-values-item {
	position: absolute;
	left: 3%;
}

.your-cart-values-price {
	float: right;
	margin-right: 1em;
}

.your-cart-tally {
	position: relative;
}

.your-cart-tally h4 {
	color: $black;
	display: inline-block;
}

.your-cart-tally-label {
	position: absolute;
	left: 3%;
}

.your-cart-tally-subtotal {
	float: right;
	margin-right: 5%;
	@include clearfix;
}

.submit-order {
	background: linear-gradient($very-light-gray, $medium-gray);
	border: 2px solid $red;
	border-radius: 5px;
	color: $red;
	margin-top: 3em;
	margin-left: 1%;
	height: 50px;
	transition: all .2s linear;
	width: 90%;
	@include clearfix;
}

.submit-order:hover {
	background: none;
	background-color: $red;
	color: white;
	cursor: pointer;
}

.main-menu-categories-items {
	display: none;
}

.order-container {
	text-align: center;
}

.admin-instructions {
	color: $black;
	margin-bottom: 1em;
}

.order-id {
	background-color: $tan;
	border:1px solid $red;
	border-radius: 3px;
	color: $black;
	font-size: 1.2em;
	margin: auto;
	margin-bottom: .5em;
	padding: .6em;
	text-align: center;
	width: 60%;
}

.food-item {
	color: $red;
	line-height: 1.5em;
}

.order-completed {
	background: linear-gradient($light-gray, $medium-gray);
	border: 1px solid $black;
	border-radius: 5px;
	font-size: 1.2em;
	height: 50px;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 20%;
}

.order-completed .fa-check {
	color: $green;
	font-size: 1.5em;
}

.order-completed:hover {
	cursor: pointer;
}

footer {
	background-color: $light-gray;
	border-top: 1px solid $medium-gray; 
	height: 125px;
	margin-top: 2em;
	position: relative;
}

.masthead-cover {
	background-color: rgba(0,0,0,.45);
	height: 100%;
	position: absolute;
	width: 100%;
}

.admin-login {
	background: linear-gradient($very-light-gray, $medium-gray);
	border: 2px solid $red;
	border-radius: 5px;
	color: $black;
	font-size: 1.2em;
	font-weight: 300;
	height: 30%;
	position: absolute;
	right: 5%;
	bottom: 35%;
	transition: all .2s linear;
	width: 15%;
}

.menu-link {
	background: linear-gradient($very-light-gray, $medium-gray);
	border: 2px solid $red;
	border-radius: 5px;
	color: $black;
	font-size: 1.2em;
	font-weight: 300;
	height: 30%;
	position: absolute;
	left: 42.5%;
	bottom: 35%;
	transition: all .2s linear;
	width: 15%;
}

.contact-link {
	background: linear-gradient($very-light-gray, $medium-gray);
	border: 2px solid $red;
	border-radius: 5px;
	color: $black;
	font-size: 1em;
	font-weight: 300;
	height: 30%;
	position: absolute;
	left: 5%;
	bottom: 35%;
	transition: all .2s linear;
	width: 15%;
}

.admin-login:hover,
.contact-link:hover,
.menu-link:hover {
	background: none;
	background-color: $red;
	color: white;
	cursor: pointer;
}

.modal-contact-form {
	@include span-columns(6);
	@include shift(3);
	background-color: $base-background-color;
	border: 1px solid $medium-gray;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	color: $black;
	padding: 2%;
	position: relative;
}

.contact-form-heading {	
	color: $red;
	font-size: 1.5em;
	margin: auto;
	margin-bottom: 1em;
	text-align: center;
	width: 70%;
}

.contact-form-heading-text {
	font-size: .9em;
	font-weight: 300;
	margin: auto;
	margin-bottom: 2em;
	text-align: center;
	width: 90%;
}

.modal-contact-form input,
.modal-contact-form textarea {
	background-color: $light-gray;
	border: 2px solid $red;
	border-radius: 5px;
	color: $red;
	display: block;
	font-size: 1em;
	margin: auto;
	margin-bottom: .7em;
	padding: .5em;
	width: 70%;
}

.submit-contact {
	background: linear-gradient($very-light-gray, $medium-gray);
	border: 2px solid $red;
	border-radius: 5px;
	font-size: 1em;
	height: 35px;
	margin-bottom: 1em;
	margin-left: 15%;
	margin-top: 1em;
	transition: .2s all linear;
	width: 70%;
}

.submit-contact:hover {
	background: none;
	background-color: $red;
	color: white;
	cursor: pointer;
}

::-webkit-input-placeholder {
   color: $black;
}

:-moz-placeholder { /* Firefox 18- */
   color: $black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $black;  
}

:-ms-input-placeholder {  
   color: $black;  
}

.order-complete,
.user-added {
	background-color: rgba(0,0,0,.3);
	display: none;
	position: fixed;
	height: 100%;
	top: 0;
	width: 100%;
}

.order-complete-message,
.user-added-message {
	background-color: $light-gray;
	border: 2px solid $red;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0,0,0,.8);
	color: $black;
	height: 60%;
	left: 25%;
	padding: 2em;
	position: fixed;
	overflow: scroll;
	text-align: center;
	top: 25%;
	width: 50%;
}

.order-complete-message-heading,
.user-added-message-heading {
	font-size: 2em;
	margin-bottom: 2em;
	margin-top: 1em;
}

.order-complete-message-text,
.user-added-message-text {
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.3em;
	margin: auto;
	width: 90%;
}

.fa-times,
.fa-close {
	border: 2px solid $black;
	border-radius: 5px;
	padding: .5em;
	position: absolute;
	right: 3%;
	top: 3%;
	transition: all .2s linear;
}

.fa-times:hover,
.fa-close:hover {
	background-color: $tan;
	border-color: $red;
	color: $red;
	cursor: pointer;
}

@include media(max-width $mobile) {
	.masthead {
		height: 180px;
	}
	.admin-login {
		height: 40px;
		text-align: center;
		width: 20%;
	}
	.masthead-logo {
		height: 80px;
		margin: 20px auto;
		width: 150px;
	}
	.search-bar {
		text-align: center;
	}
	.main-menu-categories,
	.main-order {
		@include span-columns (10);
		@include shift(1);
		margin-bottom: 2em;
	}
	.your-cart {
		width: 100%;
	}
	.modal-contact-form {
		@include span-columns(10);
		@include shift(1);
	}
	.order-complete-message,
	.user-added-message {
		left: 10%;
		width: 80%;
	}
}